html,
body,
input,
textarea,
button {
  font-family: "Montserrat", sans-serif;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.j-between {
  justify-content: space-between;
}

.a-start {
  align-items: flex-start;
}

.a-center {
  align-items: center;
}
